.head{
    display: flex;
    
}
.Singup{
    background-color: rgb(238, 161, 46);
    border-radius: 25%;
    margin-left: 20px;
    padding: 20px;
    
    
}
#backgroundImage{
    background-image: url(paisaje.png);
    height: 100%;
    display: flex;
}
.head{
    display: flex;
    padding-top: 3%;
}
.logo{
    width: 8%;
    height: 10%;
    padding-left: 10%;
    
}
.fhrase{
    align-content: center;
    padding-right: 30%;
    padding-left: 30%;
}
.home{
    padding-left: 10%;
}
.aboutus{
    padding-left: 3%;
}
.tour{
    padding-left: 3%;
}
.contacts{
    padding-left: 3%;
}
.eng{
    padding-left: 10%;
}
.login{
    padding-left: 3%;
}
.texto{
    padding-left: 45%;
    border-radius: 40%;
    border: 3px rgb(248, 248, 248) solid;
    
}
.our{
    align-content: center;
    padding-left: 29%;
}
.lugar3{
    width: 30%;
    height: 40%;
}
.fondo{
    background-color: white;
    width: 30%;
}