body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



.logo{
width: 133px;
height: 130px;
gap: 0px;
opacity: 0px;


}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: Hug (1,920px)px;
}
    

.menú{
    display:flex;
    flex-direction: row;
    width: (824px)px;
    height: (60px)px;
    gap: 167px;
    opacity: 0px;
    margin-left: 300px;

}

ul{
    display: flex;
    flex-direction: row;
}


ul li {
    list-style: none;
    margin-left: 25px;
}


#Perfil{
width: 60px;
height: 60px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
margin-left: 23px;

}

.h2{
width: 178px;
height: 44px;
top: 290px;
left: 250px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 32px;
font-weight: 800;
line-height: 43.58px;
text-align: center;
}

.Trip{
width: Hug (555px)px;
height: Hug (394px)px;
top: 394px;
left: 682.5px;
gap: 20px;
opacity: 0px;
align-content: center;
}

.Travel{
width: 347px;
height: 347px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: row;
align-items: center;
}

h4{
width: 555px;
height: 27px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27.24px;
text-align: center;
}

.LR{
width: Hug (120px)px;
height: Hug (50px)px;
top: 908px;
left: 1550px;
gap: 20px;
opacity: 0px;
display: flex;
flex-direction: row;
}

.Tickets-trip{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.viaje{
    width: 218px;
    height: 390px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:25px ;
    margin-right: 0px;
}

footer{
    background-color: rgb(32, 31, 31);
    width: Hug (1,920px)px;
    height: Hug (648px)px;
    top: 1767px;
    padding: 25px 250px 25px 250px;
    gap: 33px;
    opacity: 0px;

}

#FL{
    width: 100px;
    height: 105px;
    gap: 0px;
    opacity: 0px;
    border-left: -500px;
    display: flex;
    margin-top: -40px;

    
}

h3{
    color:rgb(153, 218, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    color:rgb(238, 246, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #252424;
    height: 175px;
}

.foot{
    align-items: center;
    margin-left: 195px;
    display: flex;
    flex-direction: row;
    justify-content: space-between 500px;
    text-align: center;
    margin-top:-10px ;
}

a {
    text-decoration: none;
}


.media{
    margin-top: -15px;
}
